.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 60px;
  border-bottom: 1px solid #eee;
}

.navbar__logo {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.navbar__sections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.navbar__sections__list__item {
  font-size: 0.95rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #232323;
}

.navbar__sections__list__item:hover {
  text-decoration: underline;
}

.navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__icons img {
  width: 14px;
  margin-left: 12px;
  cursor: pointer;
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.collections__left__up {
  padding: 4px 10px;
}

.collections__left__up__collection {
  position: relative;
}

.collections__left__up__collection__img {
  max-width: 100%;
}

.collections__left__up__collection__content {
  position: absolute;
  right: 10%;
  top: 35%;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  line-height: 25px;
  color: #fff;
}

.collections__left__up__collection__content a {
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #fff;
}

.collections__left__up__collection__content a:hover {
  text-decoration: underline;
}

.collections__left__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 10px;
}

.collections__left__down__men {
  position: relative;
}

.collections__left__down__men__img {
  max-width: 100%;
}

.collections__left__down__men__content {
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #fff;
}

.collections__left__down__men__content a {
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #fff;
}

.collections__left__down__men__content a:hover {
  text-decoration: underline;
}

.collections__left__down__hurry__img {
  max-width: 100%;
}

.collections__right {
  padding: 10px;
}

.collections__right__collection {
  position: relative;
}

.collections__right__collection__img {
  max-width: 100%;
}

.collections__right__collection__content {
  position: absolute;
  right: 15%;
  top: 10%;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #fff;
}

.collections__right__collection__content a {
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #fff;
}

.collections__right__collection__content a:hover {
  text-decoration: underline;
}

.great-selection {
  text-align: center;
  max-width: 1900px;
  margin: 6rem auto;
  color: #232323;
  padding: 10px;
}

.great-selection h2 {
  margin-bottom: 2rem;
}

.great-selection__content {
  margin-bottom: 5rem;
  color: #808080;
  font-size: 0.9rem;
}

.great-selection-part {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 60px 10px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: (600px)[2];
      grid-template-rows: repeat(2, 600px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.great-selection__parts {
  position: relative;
  width: 100%;
  text-align: center;
}

.great-selection__parts .button {
  position: absolute;
  left: 35%;
  bottom: 12%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  font-size: 0.75rem;
}

.great-selection__parts .button a {
  padding: 0.6rem 1.8rem;
  text-align: center;
  background-color: #232323;
  color: #fff;
  border: solid 2px #232323;
  z-index: 1;
  text-decoration: none;
}

.great-selection__parts:hover .button {
  opacity: 1;
}

.great-selection__parts__img {
  width: 350px;
  margin-bottom: 1.5rem;
}

.great-selection__parts__name {
  margin-bottom: 0.1rem;
  color: #232323;
  font-size: 0.9rem;
}

.great-selection__parts__price {
  margin-bottom: 1rem;
  color: #808080;
  font-size: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */