.blog {
  text-align: center;
  max-width: 1450px;
  margin: 0 auto;
  margin-top: 6rem;
  color: $primary-color;
  padding: 50px;
  @media only screen and (max-width: 500px) {
    padding: 20px;
  }

  h2 {
    margin-bottom: 2rem;
  }
  &__content {
    margin-bottom: 5rem;
    color: $blog-primary;
    font-size: 0.9rem;
  }

  &__part {
    display: grid;
    grid-gap: 20px 5px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(1, 400px);
    margin: 0 auto;
    justify-items: center;
  }

  &__parts {
    max-width: 320px;
    position: relative;
    &__img {
      max-width: 320px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.01);
      }
    }

    &__box {
      position: absolute;
      text-align: center;
      width: 260px;
      background: #000;
      padding: 10px 10px 0 10px;
      left: 30px;
      bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateY(-5px);
      }

      &__up {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0;

        h5 {
          margin-bottom: 3px;
          color: $blog-primary;
        }
        p {
          font-size: 18px;
          color: #fff;
          margin-bottom: 10px;
        }
      }

      &__down {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blog-primary;
        font-size: 14px;
        background: #fff;
        width: 260px;
        height: 40px;
      }
    }
  }
}
