.footer {
  background: #141414;
  color: $blog-primary;

  &__container {
    max-width: 1200px;
    margin: 0.5rem auto;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }

  &__subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    @media only screen and (max-width: 900px) {
      display: block;
    }
    @media only screen and (max-width: 500px) {
      padding: 1rem 0.5rem;
    }

    &__left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin: 0 auto;
      @media only screen and (max-width: 950px) {
        display: block;
        justify-content: center;
        text-align: center;
      }

      h3 {
        margin-right: 20px;
        margin-bottom: 10px;
      }
      input {
        padding: 8px 4px;
        width: 300px;
        background: #1e1e1e;
        border: none;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 950px) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        @media only screen and (max-width: 800px) {
          display: block;
        }

        li {
          margin-left: 5px;
        }
      }
    }
  }

  &__info {
    display: grid;
    grid-gap: 20px 5px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(1, 200px);
    margin: 0 auto;
    justify-items: center;

    margin-top: 10px;
    align-items: center;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }

    &__content {
      h5 {
        margin-bottom: 0.5rem;
      }

      h2 {
        margin-bottom: 10px;
      }

      ul {
        list-style: none;

        li {
          cursor: pointer;
          margin-bottom: 2px;
          font-size: 16px;
        }
      }
    }
  }
}
