.header {
  background: url(../img/header/woman-wearing-pink-collared-half-sleeved-top-1036623.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  &__content {
    position: absolute;
    left: 100px;
    top: 20%;
    color: $primary-color;
    @media only screen and (max-width: 1450px) {
      left: 50px;
      top: 20%;
    }
    @media only screen and (max-width: 950px) {
      left: 30px;
      top: 50%;
    }
    @media only screen and (max-width: 600px) {
      left: 15px;
      top: 60%;
    }

    &__new {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      color: $blog-primary;
    }

    h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
    }
    &__motto {
      font-size: 1.3rem;
      color: $blog-primary;
      margin-bottom: 2rem;
    }

    &__btn {
      background-color: $primary-color;
      color: #eee;
      padding: 0.7rem 2rem;
      border: 2px solid $primary-color;
      font-size: 0.7rem;
      border-radius: 50px;
      transition: background 0.4s ease;

      &:hover {
        background: #f3afae;
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}
