.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  border-bottom: 1px solid $blog-primary;

  &__logo {
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__sections {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      &__item {
        font-size: 0.95rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__icons {
    display: flex;
    align-content: center;
    justify-content: space-between;

    img {
      width: 14px;
      margin-left: 12px;
      cursor: pointer;
    }
  }
}
