@import 'base';
@import 'navbar';
@import 'header';
@import 'collections';
@import 'great-selection';
@import 'middle-section';
@import 'blog';
@import 'footer';

$primary-color: #232323;
$secondary-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media only screen and (max-width: 1300px) {
    font-size: 87.5%;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 75%;
  }
  @media only screen and (max-width: 768px) {
    font-size: 62.5%;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  max-width: 100%;
}
