@import 'base';
@import 'navbar';
@import 'header';
@import 'collections';
@import 'fashion';
@import 'great-selection';
@import 'shop-collection';
@import 'middle-section';
@import 'blog';
@import 'footer';

$primary-color: #232323;
$secondary-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  max-width: 1900px;
  margin: 0 auto;
}
